# Byte-compiled / optimized / compiled files
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/
.eggs/

# Virtual environments
venv/
.venv/
env/
.env/

# Editor-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Operating System files
.DS_Store
Thumbs.db

# Logs and databases
*.log
*.sqlite3
*.db

# Test and coverage files
.coverage
htmlcov/

# Miscellaneous
dist/
build/
*.whl
